ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 25px;
}
#buttons {
	margin-top: 1em;
	width: 99%;
	display: inline-block;
	text-align: center;
}
.leaflet-popup-content-wrapper {
	background-color: white;
	color: black;
	font-size:11pt;
	opacity: 0.9;
	border-radius: 0px;
	padding: 1px;
}
.leaflet-popup-content {
	margin: 2px;
}

#articlesContainer {
	width: 80%;
	margin: 0 auto;
	//border: 1pt dashed red;
}
#description {
	margin-top: 12px;
	width: 24%;
	float: left;
	//border: 1pt dashed blue;
}
#article {
	width: 50%;
	float: left;
	//border: 1pt dashed blue;
}

h1 {
	font-family: Georgia;
	font-size: 56px;
	line-height: 57.5px;
	font-weight: normal;
}

.articleBody {
	font-family: Georgia;
	font-size: 18px;
	line-height: 20px;
}
